body {
  margin: 0;
  padding: 0;
  /* background-image: url("./backgroundImage.jpg") */
  background-color: rgb(177, 190, 212);
}

.center {
  justify-content: center;
  display: flex;
}

#search {
  width: 500px!important;
  justify-content: center!important;
  display: content!important;
}

button {
  font-weight: bold;
}

.link {
  margin-bottom: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 22px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: rgb(228, 228, 228);
}

.cardBack {
  background-color: rgba(255, 255, 255, .5)
}

.imgCss {
  justify-content: center;
  display: flex;
}